# ------------------------------------
# 仮想環境とパッケージ
# ------------------------------------
.venv/
pip-log.txt

# ------------------------------------
# キャッシュと自動生成ファイル
# ------------------------------------
__pycache__/
*.py[cod]
.mypy_cache/
.ruff_cache/
.pytest_cache/

# ------------------------------------
# Jupyter Notebook
# ------------------------------------
.ipynb_checkpoints/

# ------------------------------------
# データと出力結果
# ------------------------------------
data/
# 必要に応じて、生成される結果ファイルも除外
*.csv
*.tsv
*.xlsx
*.pickle
*.h5
*.joblib

# ------------------------------------
# IDE / 環境設定
# ------------------------------------
.vscode/
*.code-workspace